.inputs_add {
    margin: 0 0 20px 0;
}

.lightbox {
	position: absolute;
    left: 25%;
	top: 25%;
	width: 50%;
	padding: 15px;
	border: 8px ridge blue;
	background: lightcyan;	
	border-radius: 10px;
}
	
.lightbox label {
    font-weight: bold;
}

.alertavalidacao{ /*Este estilo serve para o aviso sobre inserções inválidas*/
    color: red;
	margin-left: 4px;
	background: rgb(256,240,240);
	padding: 2px;
	font-size: 10px;
	font-family: verdana;
}

input[type=button], button {
    margin: 4px 10px 4px 0;;
}

#select_column {
    width: 250px;
	margin-bottom: 14px;
}

#select_column2{
    width: 250px;
}

#tabela_de_produtos {
	width: 600px;
}

#tabela_de_produtos td {
    width: 150px;
}

#tabela_de_produtos table, #tabela_de_produtos table tr,
#tabela_de_produtos table td {
    border-collapse: collapse;
	border: 2px ridge black;
	padding: 5px;
	text-align: center;
}

#add_product {
    margin-bottom: 6px;
}

#modifytable {
    margin: 10px 0;
}
